<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Course Enrollment Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">  <style>
    .profile-picture {
        max-width: 100px;
        max-height: 400px;
        margin: auto;
        display: block;
    }
    .profile-table {
        width: 100%;
        margin: auto;
    }
    .profile-table th, .profile-table td {
        text-align: center;
        vertical-align: middle;
    }
  </style>
</head>
<body>
<div class="container">
  <h2 class="text-center">Course Enrollment Details</h2>
  <div class="text-center">
    <!-- Updated image source to reflect the static location configuration -->
    <img th:src="@{/files/{fileName}(fileName=${userForCourse.profilePicPath})}" alt="Profile Picture" class="img-thumbnail profile-picture"/>
  </div>
  <table class="table profile-table">
    <tbody>
    <tr>
      <th>Name</th>
      <td th:text="${userForCourse.name}"></td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td th:text="${userForCourse.dob}"></td>
    </tr>
    <tr>
      <th>Contact Info</th>
      <td th:text="${userForCourse.contact}"></td>
    </tr>
    <tr>
      <th>Email</th>
      <td th:text="${userForCourse.email}"></td>
    </tr>
    <tr>
      <th>USN</th>
      <td th:text="${userForCourse.usn}"></td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <a th:href="@{/profileForCourse/update/{id}(id=${userForCourse.id})}" class="btn btn-secondary">Update Profile</a>
    <a th:href="@{/profile/download/{id}(id=${userForCourse.id})}" class="btn btn-secondary">Download Profile as PDF</a>
  </div>
</div>
</body>
</html>
