<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Certifications List</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>List of Certifications</h1>-->
<!--<table>-->
<!--    <tr>-->
<!--        <th>Certification ID</th>-->
<!--        <th>Course Title</th>-->
<!--        <th>Issuing Organization</th>-->
<!--        <th>Completion Date</th>-->
<!--        <th>Certification Number</th>-->
<!--        <th>Actions</th>-->
<!--    </tr>-->
<!--    <tr th:each="certification : ${certifications}">-->
<!--        <td th:text="${certification.id}"></td>-->
<!--        <td th:text="${certification.courseTitle}"></td>-->
<!--        <td th:text="${certification.issuingOrganization}"></td>-->
<!--        <td th:text="${certification.completionDate}"></td>-->
<!--        <td th:text="${certification.certificationNumber}"></td>-->
<!--        <td>-->
<!--            <a th:href="@{/admin/view-certification/{id}(id=${certification.id})}" class="button">View Details</a>-->
<!--            <a th:href="@{/admin/download-certification/{id}(id=${certification.id})}" class="button">Download</a>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
